{% extends 'base.html.twig' %}

{% block title %}Inspection Générale de Finance
{% endblock %}

{% block body %}
	<style>
		.detail-small {
			margin-top: 20px;
			font-weight: 500;
			color: #242424
		}
		.detail-small i {
			font-size: 17px;
			color: rgb(228, 35, 35);
			margin-right: 5px;
		}
		.detail-small span {
			font-style: oblique;
			opacity: .8
		}
		.detail-small a {
			margin: 0 5px;
			color: #000;
			font-weight: 700;
			text-decoration: none;
		}
		.detail-small a:hover {
			color: rgb(228, 35, 35);
		}

		.post-detail .title {
			text-transform: uppercase;
			margin-top: 10px;
			font-weight: 700
		}

		.post-detail .downlod-btn {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			background-color: rgb(228, 35, 35);
			padding: 10px 14px;
			font-size: 14px;
			border-radius: 3px;
			margin-top: 10px
		}

		.share ul {
			list-style: none;
			display: flex;
			padding: 0
		}

		.share ul li {
			padding-right: 5px;
		}

		.share ul li a {
			display: inline-block;
			padding: 8px 12px;
			background-color: rgb(228, 35, 35);
			color: #fff;
			border-radius: 50%
		}

		.share ul li a.facebook {
			background-color: #3b5998;
		}

		.share ul li a.twitter {
			background-color: #1DA1F2;
		}

		.share ul li a.pinterest {
			background-color: #E60023;
		}

		.share ul li a.linkedin {
			background-color: #0072b1;
		}

		.post-detail .link {
			margin-top: 50px;
			font-size: 14px;
			display: flex;
			justify-content: space-between;
		}
		.post-detail .link a {
			display: flex;
			align-items: center;
			text-decoration: none;
			background-color: #eee;
			width: 40%;
			color: #242424;
			padding: 10px 15px;
			border-radius: 4px;
			font-weight: 500;
			text-transform: lowercase;
		}
		.post-detail .link a:last-child {
			text-align: right
		}
		.post-detail .link a i {
			font-size: 20px;
			font-weight: 700;
			margin-right: 7px
		}
		.post-detail .link a:last-child i {
			margin-right: 0;
			margin-left: 7px
		}
		.post-detail .link a:hover {
			background-color: rgb(247, 220, 220)
		}

		.categories-list a {
			text-decoration: none;
			color: #000;
			font-weight: 700
		}

		.birth_select {
			display: flex
		}

		.birth_select select {
			width: 100%;
			padding: 0.375rem 2.25rem 0.375rem 0.75rem;
			-moz-padding-start: calc(0.75rem - 3px);
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			background-color: #fff;
			background-image: url(data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);
			background-repeat: no-repeat;
			background-position: right 0.75rem center;
			background-size: 16px 12px;
			border: 1px solid #ced4da;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
	</style>
	<div class="main">
		<div class="container post-detail" style="padding: 40px 0">
			<div class="row">
				<div class="col-sm-8 htexts">
					<img alt="mission" src="{{ asset('uploads/offers/' ~ offer.getImage()) }}" style="width:100%; border-radius: 8px">
					<div class="detail-small">
						<small>
							<i class="fa-regular fa-clock"></i>
							<span>{{ offer.createdAt|date('d-M-Y') }}</span>
							- In
							<a href="{{ url('actualites') }}">Actualités</a>
							<a href="{{ url('emplois') }}">Emplois</a>
							Par
							<a href="{{ url('mission') }}">IGF RDC</a>
						</small>
					</div>
					<h3 class="title">{{ offer.title }}
					</h3>
					<a target="_blank" href="{{ asset('uploads/offers/descs/' ~ offer.getFile()) }}" class="downlod-btn">
						<i class="fa-solid fa-download" style="margin-right: 5px"></i>Fichier descriptif et critères</a>
					<hr style="margin:30px 0">
					<div class="texts">
						<p>{{ offer.description|lower }}</p>
					</div>
					<div class="share mt-5">
						<ul>
							<li><a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a></li>
							<li><a href="#" class="pinterest"><i class="fa-brands fa-pinterest"></i></a></li>
							<li><a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
						</ul>
					</div>
					<hr>

					{% for success in app.flashes('success') %}
						{% if success == 1 %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								<strong>Succès!</strong>
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% elseif success == 0 %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								<strong>Échec!</strong>
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						{% endif %}
					{% endfor %}

					<h3 class="title">Postuler</h3>
					{{ form_start(candidature_form) }}
					<div class="row">
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.prenom) }}
							{{ form_widget(candidature_form.prenom) }}
						</div>
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.nom) }}
							{{ form_widget(candidature_form.nom) }}
						</div>
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.postnom) }}
							{{ form_widget(candidature_form.postnom) }}
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-md-8">
							{{ form_label(candidature_form.naissance) }}
							{{ form_widget(candidature_form.naissance) }}
						</div>
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.ville) }}
							{{ form_widget(candidature_form.ville) }}
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-md-12">
							{{ form_label(candidature_form.adresse) }}
							{{ form_widget(candidature_form.adresse) }}
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.email) }}
							{{ form_widget(candidature_form.email) }}
						</div>
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.phone) }}
							{{ form_widget(candidature_form.phone) }}
						</div>
						<div class="mb-3 col-md-4">
							{{ form_label(candidature_form.branch) }}
							{{ form_widget(candidature_form.branch) }}
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-md-12">
							{{ form_label(candidature_form.bio) }}
							{{ form_widget(candidature_form.bio) }}
						</div>
					</div>
					<div class="row">
						<div class="mb-3 col-md-12">
							{{ form_label(candidature_form.cv) }}
							{{ form_widget(candidature_form.cv) }}
						</div>
					</div>
					{{ form_end(candidature_form) }}
				</div>
				<div class="col-sm-4 htexts categories-list">
					<p>Catégories</p>
					<hr>
					<div>
						<a href="{{ url('actualites') }}">Actualités</a>
					</d>
					<hr>
					<div>
						<a href="{{ url('emplois') }}">Emplois</a>
					</div>
					<hr>
				</div>

			</li>
		</ul>
	</div>
</div></div></div></div>{% endblock %}
