{% extends 'base.html.twig' %}

{% block title %}Inspection Générale des Finances
{% endblock %}

{% block body %}
	<div id="fb-root"></div>

	<div class="main"></div>
	<div class="jumbotron" style="position:relative">
		<div class="social-icons">
			<ul>
				<li><a href="https://web.facebook.com/igfRdc" target="_blank" style="background-color:#3b5998"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="https://twitter.com/IgfRdc" target="_blank" style="background-color:#00acee"><i class="fa-brands fa-twitter"></i></a></li>
				<li><a href="https://www.youtube.com/channel/UC1ZCoVkoGYZ4NC1p3cSBZQg/videos" target="_blank" style="background-color:#FF0000"><i class="fa-brands fa-youtube"></i></a></li>
			</ul>
		</div>
		<section class="slider-bg slider">
			{% if posts|length > 0 %}
				{% for post in posts %}
					<div class="slide" style="background:linear-gradient(to bottom right, rgba(0,0,0,.4), rgba(0,0,0,.7)), url({{ post.getImgPath() }}); background-size: cover;">
						<div class="container">
							<h3 class="title">{{ post.title }}</h3>
							<hr>
							<p>{{ post.description }}</p>
							<a href="{{ path('actu_detail', {title: post.title, id: post.id}) }}">Voir plus
								<i class="fa-solid fa-arrow-right"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</section>
	</div>

	<div class="latest-posts container">
		<h2 class="section-title">Dernières nouvelles</h2>
		{% if posts|length > 0 %}
			<div class="container posts">
				<div class="row">
					<div class="col-md-6 big-container">
						{% for post in posts %}
							{% if loop.first %}
								<div class="postcontainer big">
									<a href="{{ path('actu_detail', {title: post.title, id: post.id}) }}" class="post">
										<div class="post-img" style="background-image: url({{ post.getImgPath() }}); text-align:right">
											<div class="overlay"></div>
										</div>
										<div class="post-text">
											<h3 class="title">
												{{ post.title }}
											</h3>
										</div>
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="col-md-6 small-container">
						<div class="row small-container-row">
							{% for post in posts %}
								{% if loop.first %}
									{% else %}
										<div class="postcontainer col-md-6">
											<a href="{{ path('actu_detail', {title: post.title, id: post.id}) }}" class="post">
												<div
													class="post-img" style="background-image: url({{ post.getImgPath() }}); text-align:right">
													<!--<p class="more-link">Voir plus
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																													<i class="fa-solid fa-arrow-right"></i>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												</p>-->
													<div class="overlay"></div>
												</div>
												<div class="post-text">
													<h3 class="title">{{ post.title|length > 50 ? post.title|slice(0, 50) ~ '...' : post.title  }}</h3>
												</div>
											</a>
										</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>

			</div>
		{% else %}
			<p>Aucune actualité disponible</p>
		{% endif %}

	</div>
	<div class="section gray logos">
		<div class="container">
			<section class="customer-logos slider">
				<div class="slide"><img src="images/p1.jpeg"></div>
				<div class="slide"><img src="images/p2.png"></div>
				<div class="slide"><img src="images/p3.png"></div>
				<div class="slide"><img src="images/p4.png"></div>
				<div class="slide"><img src="images/p5.png"></div>
				<div class="slide"><img src="images/p6.png"></div>
			</section>
		</div>
	</div>
	<div class="video-container">
		<div class="container">
			<h1 class="big-title">Nos Videos</h1>
			<div class="row">
				<div class="col-md-4 video-texts" style="display: flex; justify-content: center; text-align: right; flex-direction: column;">
					<h2>Vulgarisation contre les antivaleurs.</h2>
					<p class="media-desc">Voir toutes les vidéos en rapport avec l'inspection générale de finance de la République Démocratique du Congo.</p>
					<a style="text-align:center" href="https://www.youtube.com/channel/UC1ZCoVkoGYZ4NC1p3cSBZQg/videos" class="media-link">Voir toutes nos vidéos</a>
				</div>
				<div class="col-md-8 video-box" style="display: flex; justify-content: center;">
					<iframe width="800" height="400" src="https://www.youtube.com/embed/XqIkplLck5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
	<div style="padding: 80px 0; background-color:#fbfbfb !important" class="photo-container">
		<div class="container">
			<h1 class="big-title">Nos Photos</h1>
			<p class="media-desc">Voir toutes les photos en rapport avec l'inspection générale de finance de la République Démocratique du Congo.
				<br>Activités, rencontres, articles, offres, et toute autre image relative.</p>
			<a href="#" class="media-link">Voir toutes nos photos</a>
		</div>
	</div>
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="FwwQs1J7"></script>{% endblock %}
