{% extends 'admin/layout.html.twig' %}


{% block body %}
	<div class="container-fluid">
		<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mb-4">
			<i class="far fa-plus-square mr-4" aria-hidden="true"></i>
			Enrégistrer un  nouvel offre d'emploi
		</button>
		{% for success in app.flashes('success') %}
			{% if success == 1 %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>Succès!</strong>
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% elseif success == 0 %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>Échec!</strong>
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}
		{% endfor %}
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<h3 class="box-title">Offres d'emplois</h3>
					<p class="text-muted">{{ offers|length }}
						Offre(s)</p>
					<div class="table-responsive">
						<table class="table text-nowrap">
							<thead>
								<tr>
									<th class="border-top-0">#</th>
									<th class="border-top-0">Titre</th>
									<th class="border-top-0">Description</th>
									<th class="border-top-0">Candidatures</th>
									<th class="border-top-0">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for offer in offers %}
									<tr>
										<td>{{ loop.index }}</td>
										<td>{{ offer.title|length > 70 ? offer.title|lower|slice(0, 70) ~ '...'  : offer.title|lower  }}</td>
										<td>{{ offer.description|length > 70 ? offer.description|lower|slice(0, 70) ~ '...'  : offer.description|lower  }}</td>
										<td>{{ offer.getCandidatures()|length }}</td>
										<td>
											<a href="{{ path('edit_offer', {id: offer.id}) }}" title="Modifier" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-info">
												<i class="fas fa-edit" aria-hidden="true"></i>
											</a>
											<form method="POST" style="display:inline" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette photo ? Cette action est irreversible.');" action="{{ path('delete_offer', {id: offer.id}) }}">
												<button type="submit" title="Supprimer" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-danger">
													<i class="fas fa-trash-alt" aria-hidden="true"></i>
												</button>
											</form>
											<a href="{{ path('offer_detail', {title: offer.title, id: offer.id}) }}" target="_blank" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-primary">
												<i class="fas fa-eye" aria-hidden="true"></i>
												Voir
											</a>
											{% if offer.file != "" %}
												<a href="{{ asset('uploads/offers/descs/' ~ offer.getImage()) }}" target="_blank" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-primary">
													<i class="fas fa-download" aria-hidden="true"></i>
													Voir le fichier descriptif
												</a>
											{% endif %}
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Enrégistrer une nouvelle offre d'emploie</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					{{ form_start(create_form) }}
					<div class="modal-body">
						<img alt="preview" style="width:100%; display:none" id="image_prev" src=""/>
						<div class="form-group">
							<label>Image à la une</label>
							{{ form_widget(create_form.image) }}
						</div>
						<div class="form-group">
							<label>Fichier descriptif (en .pdf)</label>
							{{ form_widget(create_form.file) }}
						</div>
						<div class="form-group">
							<label>Nous récrutons au poste de</label>
							{{ form_widget(create_form.title) }}
						</div>
						<div class="form-group">
							{{ form_widget(create_form.description) }}
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
						{{ form_widget(create_form.submit) }}
					</div>
					{{ form_end(create_form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_scripts %}
	<script>
		var imgInp = document.querySelector('input[type="file"]')
var blah = document.querySelector('#image_prev')

imgInp.onchange = evt => {
const [file] = imgInp.files
if (file) {
blah.style.display = "block";
blah.src = URL.createObjectURL(file)
}
}
	</script>
{% endblock %}
