{% extends 'base.html.twig' %}

{% block title %}IGF RDC -  Articles
{% endblock %}
{% block body %}
	<style>

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}

		.card {
			overflow: hidden;
			box-shadow: 0 1px 15px #d7dfe2;
			background: white;
			border-radius: 0.5rem;
			position: relative;
			margin: 1rem;
			transition: 250ms all ease-in-out;
			cursor: pointer;
			width: 45%;
		}

		.card:hover {
			transform: scale(1.05);
			box-shadow: 0 2px 40px #d7dfe2;
		}

		.banner-img {
			position: absolute;
			object-fit: cover;
			height: 14rem;
			width: 100%;
		}

		.category-tag {
			font-size: 0.8rem;
			font-weight: bold;
			color: white;
			background: red;
			padding: 0.5rem 1.3rem 0.5rem 1rem;
			text-transform: uppercase;
			position: absolute;
			z-index: 1;
			top: 1rem;
			border-radius: 0 2rem 2rem 0;
		}

		.popular {
			background: #ef257a;
		}

		.technology {
			background: #651fff;
		}

		.psychology {
			background: #e85808;
		}

		.card-body {
			margin: 15rem 1rem 1rem;
		}

		.blog-hashtag {
			font-size: 0.9rem;
			font-weight: 500;
			color: #4d97b2;
		}

		.blog-title {
			line-height: 2rem;
			font-size: 1.5rem;
			margin: 1rem 0 0.5rem;
		}

		.blog-description {
			color: #616b74;
			font-size: 0.9rem;
		}

		.card-profile {
			display: flex;
			margin-top: 2rem;
			align-items: center;
		}

		.profile-img {
			width: 60px;
			height: 60px;
			object-fit: cover;
			border-radius: 50%;
		}

		.card-profile-info {
			margin-left: 1rem;
		}

		.profile-name {
			font-size: 1rem;
		}

		.profile-followers {
			color: #616b74;
			font-size: 0.9rem;
		}
	</style>

	<div class="main">
		<div class="jumbotron small">
			<div class="container">
				<div class="row">
					<div class="col-md-6 texts">
						<h3>Publications</h3>
						<p style="font-size:17px">Tous les articles publiés par les inspecteurs de l'Inspection Générale des Finances.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container" style="padding: 50px 0;">
			<div class="wrapper">
				{% for article in articles %}

					<div class="card">
						<div class="card-banner">
							{% if article.admin.image != "" %}
								<img class="banner-img" src={{ 'uploads/admins/' ~ article.admin.image }} alt=''>
							{% else %}
								<img class="banner-img" src={{ asset('images/default-article.jpg') }} alt=''>
							{% endif %}
						</div>
						<div class="card-body">
							<p class="blog-hashtag">{{ article.getCreatedAt()|date('d-M-Y à h:i') }}</p>
							<h2 class="blog-title">{{ article.title }}</h2>
							<p class="blog-description">{{ article.content }}</p>

							<div class="card-profile">
								{% if article.admin.image != "" %}
									<img class="profile-img" src={{ article.admin.image }} alt=''>
								{% else %}
									<img class="profile-img" src={{ asset('images/default-profile.jpeg') }} alt=''>
								{% endif %}

								<div class="card-profile-info">
									<h3 class="profile-name" style="margin:0">{{ article.admin.fullname }}</h3>
									<p class="profile-followers" style="margin:0">{{article.admin.poste}}</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div></div></div></div>{% endblock %}
