{% extends 'admin/layout.html.twig' %}


{% block body %}
	<div class="container-fluid">
		<a class="btn btn-primary mb-4">
			<i class="far fa-plus-square mr-4" aria-hidden="true"></i>
			Enrégistrer une nouvelle actualités
		</a>
		<div class="row">
			<div class="col-sm-12">
				<div class="white-box">
					<h3 class="box-title">Actualités</h3>
					<p class="text-muted">{{ posts|length }}
						actualités(s) enrégistrés</p>
					<div class="table-responsive">
						<table class="table text-nowrap">
							<thead>
								<tr>
									<th class="border-top-0">#</th>
									<th class="border-top-0">Image</th>
									<th class="border-top-0">Titre</th>
									<th class="border-top-0">Description</th>
									<th class="border-top-0">Date de publication</th>
									<th class="border-top-0">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for post in posts %}
									<tr>
										<td>{{ loop.index }}</td>
										<td>
											<img style="width:80px; height:auto" alt="post" src="{{ post.getImgPath() }}"/>
										</td>
										<td>{{ post.title|length > 40 ? post.title|lower|slice(0, 40) ~ '...'  : post.title|lower  }}</td>
										<td>{{ post.description|length > 40 ? post.description|lower|slice(0, 40) ~ '...' : post.description|lower  }}</td>
										<td>{{ post.getCreatedAt() |date('d-m-Y') }}</td>
										<td>
											<button title="Modifier" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-info">
												<i class="fas fa-edit" aria-hidden="true"></i>
											</button>
											<button title="Supprimer" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-danger">
												<i class="fas fa-trash-alt" aria-hidden="true"></i>
											</button>
											<a href="{{ path('actu_detail', {title: post.title, id: post.id}) }}" target="_blank" style="color:#fff;padding: 0.275rem 0.45rem;" type="button" class="btn btn-primary">
												<i class="fas fa-eye" aria-hidden="true"></i>
												Voir
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
